
.anchor-pane {
    -fx-background-color: linear-gradient(to right, #2C3E50, #3A3F44);
    -fx-padding: 20px;
}

.header-label-dark {
    -fx-text-fill: #3e3b3b;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
}



.table-view {
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 0, 5);
}

.table-view .column-header-background {
    -fx-background-color: #4A4F55 !important;
}

.table-view .column-header {
    -fx-background-color: #4A4F55 !important;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4A4F55;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 15px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: #555;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5A5F66;
}

#btnBackToDashboard {
    -fx-background-color: #E74C3C;
    -fx-font-weight: bold;
}

#btnBackToDashboard:hover {
    -fx-background-color: #C0392B;
}

.custom-combobox {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: #666;
    -fx-border-width: 1px;
    -fx-padding: 6px;
}

.custom-combobox .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #444;
}

.custom-combobox .list-cell:hover {
    -fx-background-color: #666;
}

.combo-box .arrow-button {
    -fx-background-color: #666;
    -fx-border-radius: 6px;
}

.combo-box .arrow-button:hover {
    -fx-background-color: #777;
}


.custom-combobox {
    -fx-font-size: 16px;
    -fx-padding: 0 5 0 5;
}

.custom-combobox .list-cell {
    -fx-font-size: 16px;
}

.custom-combobox .arrow-button {
    -fx-padding: 0;
}